@import "../../styles/partials/Partials.scss";
@font-face {
  font-family: "avenir";
  src: url("../../../src\assets/Font/Alternative files/AvenirNextLTPro.ttf")
    format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir";
  src: url("../../../src/assets/Font/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: bold;
}

.navbar {
  @include tablet {
    display: flex;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
  }
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;

  // &__searchcontainer {
  //   display: flex;
  //   font-family: "avenir";
  //   height: 2rem;
  // }

  &__search {
    border: none;
    background-color: #fafafa;
  }
  &__search-container {
    display: flex;
    flex-direction: row;
    background-color: #fafafa;
    align-items: center;
    border: 1px solid #e1e1e1;
    width: 15rem;
    height: 2.5rem;
    border-radius: 3px;
  }
  &__upload {
    color: #ffffff;
    @include tablet {
      display: none;
    }
    //background-image: url("../../assets/Icons/upload.svg");
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 3rem;
    border-radius: 0.25rem;
    border: none;
    margin-bottom: 1rem;
    background-color: #0095ff;
  }
  &__upload-desktop {
    @include mobile {
      display: none;
    }
    @include tablet {
      background-size: cover;
      background-position: center;
      width: 15rem;
      height: 2.5rem;
      border-radius: 3px;
      border: none;
      margin: 1rem;
      background-color: #0095ff;
    }
    color: #ffffff;
  }
  &__row {
    @include tablet {
      justify-content: right;
    }
    display: flex;
    width: 80%;
    align-items: center;
  }
  &__main-icon {
    align-self: center;
  }
  &__magnifying-glass {
    padding: 0.5rem;
  }
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("../../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
