@font-face {
    font-family: "avenir";
    src: url("../../../src\assets/Font/Alternative files/AvenirNextLTPro.ttf")
      format("ttf");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "avenir";
    src: url("../../../src/assets/Font/Alternative files/AvenirNextLTProBold.ttf");
    font-weight: bold;
  }
  