@import "./partials.scss";

@font-face {
  font-family: "avenir";
  src: url("../../../src\assets/Font/Alternative files/AvenirNextLTPro.ttf")
    format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: "avenir";
  src: url("../../../src/assets/Font/Alternative files/AvenirNextLTProBold.ttf");
  font-weight: bold;
}
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/Images/Mohan-muruge.jpg");
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.name-label-container {
  display: flex;
  align-items: center;
}

.comments {
  display: flex;
  &__button {
    height: 2.5rem;
    border-radius: 3px;
    border: none;
    margin-bottom: 1rem;
    background-color: #0095ff;
    width: 52%;
    margin-left: 87px;
    color: white;
    margin-top: 20px;
  }

  &__form {
    @include desktop {
      display: flex;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__title {
    color: #afafaf;
    font-size: 1.25rem;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 20px;
  }
  &__text {
    width: 50vw;
    height: 20vw;
    margin-left: 20px;
    background-color: #fafafa;
    border-radius: 4px;
    border-color: #e1e1e1;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
}

.comment {
  display: flex;

  &-count {
    margin-left: 20px;
    font-weight: bold;
  }
}
