@import "./styles/partials/Partials.scss";
video {
  @include desktop {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: black;
  }
  @include tablet {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  width: 100%;
  align-self: center;
}

div.App {
  display: flex;
  flex-direction: column;
}
